spring:
  application:
    name: spring-ai

  ai:
    openai:
      api-key: ${VICTOR_API_KEY}
      model: gpt-3.5-turbo

  datasource:
    url: jdbc:h2:mem:cozinha_sustentavel
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080
